*{
	padding: 0;
	margin: 0;
	}

	header{
		width: auto;
		height: 98.2vh;
		background-image: url('../files/2.jpg');
		background-size: cover;
		font-family: 'Dosis', sans-serif;
			background-repeat: no-repeat;
	}
	.top_menu{
    display: flex;
		flex-direction: row;
		align-items: center;
	}
.menu_list {
	padding-right: 50px;
	text-align: right;
	width: 80%;
}
.menu_list li{
	display: inline-block;
	text-transform: uppercase;
	list-style: none;
	letter-spacing: 2px;
	padding-left: 50px;
	color: white;
}.menu_list li a{
	color:rgba(255, 255, 255, .8);
	text-decoration: none;
}

.menu_list li a:hover{
	color:#de721f;
}

*{
	margin: 0px;
	padding: 0px;
}
h2 {
 position: relative;
 left: 1%;
	font-family: sans-serif;
	color: #de721f;
	font-weight: bold;
	letter-spacing: 0.3em;
	font-size: 35px;

}
h3, h4, h5{
	color: white;
	font-weight: bold;
	letter-spacing: 0.3em;
	font-size: 17px;
}

#home{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
	padding-left: 20px;
}

#decal{
	position: relative;
	float: center;
	margin: 20px;
	padding: 20px;

}
h3 {
	position: relative;
	left: 160%;
}
h4{
	position:relative;
	left: 270%;

}
#plaintext{

	margin: 20px;
	padding: 20px;
	border-radius: 15px;
	outline: none;
}
#chipertext{
position: relative;
left: 90%;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
	outline: none;
}
textarea
{
	position: relative;
	left: 50%;
}
input
{
	position: relative;
	left: 50%;
}

button
{
	position: relative;
	left: 140%;
	margin: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: transparent;
	color: white;
	border-spacing: 20px;

	border-radius: 10px;
	box-shadow: 0px 0px 12px 4px #4d4d4d;
	cursor: pointer;
	outline: none;
}

#keyvalue{
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
	outline: none;
}

.button{
  position: relative;
	left: 140%;
	margin: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: transparent;
	color: white;
	border-spacing: 20px;

	border-radius: 10px;
	box-shadow: 0px 0px 12px 4px #4d4d4d;
	cursor: pointer;
	outline: none;
}
.button:hover{
	background-color:#f2961d;
	opacity: 40%;
}
#reset:hover{
	background-color:#f2961d;
	opacity: 40%;
}
#footer{
	text-align: center;
	margin-top: 50px;
	font-size: 15px;
}
